# Python
__pycache__/
*.pyc

# Virtual environment
tf-env/
ai-model/tf-env/

# Uploads
uploads/

# Dataset
dataset/

# React
node_modules/

.env

ai-model/tf-env/
ai-model/venv/
ai-model/dataset/
ai-model/uploads/